/* ルビの初期状態は非表示 */
.ruby {
    font-family: 'DotGothic16', sans-serif;
    visibility: hidden;
    font-size: 0.7em; /* ルビのサイズを少し小さく調整 */
    position: absolute;
    top: -1.2em;  /* ルビを少し上に */
    left: 0;
  }
  
  /* ホバー時にルビを表示 */
  .ruby-container {
    position: relative; /* 親要素を relative にして absolute 位置指定を可能に */
    display: inline-block;
  }
  
  .ruby-container:hover .ruby {
    visibility: visible;  /* ホバー時にルビを表示 */
  }
  