body {
    font-family: 'PixelMplus10', sans-serif;
}

  
  .dq-modal-content {
    background-color: rgba(0, 0, 0, 0.7); /* 半透明の背景色 */
    padding: 20px;
    border-radius: 10px;
    font-family: 'PixelMplus', 'Press Start 2P', cursive;
    color: white;
  }
  
  .dq-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dq-input {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の入力背景色 */
    border: 2px solid rgba(255, 255, 255, 0.8); /* 半透明のボーダー */
  }
  
  .dq-input .MuiInputBase-input {
    color: white;
    font-family: 'PixelMplus', 'Press Start 2P', cursive;
  }
  
  .dq-input-label {
    color: white;
    font-family: 'PixelMplus', 'Press Start 2P', cursive;
  }
  
  .dq-button {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明のボタン背景色 */
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.8); /* 半透明のボーダー */
    padding: 10px 0;
    font-family: 'PixelMplus', 'Press Start 2P', cursive;
    font-size: 16px;
  }
  
  .dq-button:hover {
    background-color: rgba(200, 200, 200, 0.8); /* 半透明のボタン背景色 */
  }
  