body {
  font-family: 'PixelMplus', 'Press Start 2P', cursive;  
  /* 拡大文字 */

}

.dq-title {
  text-align: center;
  margin-bottom: 20px;

}


.dq-input .MuiInputBase-input {
  color: #78ABA8;

}







